{% extends "base.html" %}
{% block content %}

<style>
    form{
    color : grey;
    position: relative;
  

  }
  </style>
<br>
<FONT COLOR="red"><h2>Informacion Del Estudiante</h2></FONT>
<form method="post" action="/ayuda/" enctype="multipart/form-data">
{% csrf_token %}
<button type="submit">Datos Del Estudiante</button>
</form>
{% if datos %}
<FONT COLOR="red"></FONTCOLOR><h1>{{datos}}</h1></FONT>
{% endif %}
<form id= "form1"
            name=  "form1"
            method="post"
            href="/Proyecto3.pdf">
         <label> 
             <input type="submit"
                    name="Submit"
                    value="Abrir Documentacion" />
         </label>
      </form>


{% endblock %}